body {
  height: auto !important;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 2em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

ul > li {
  word-wrap: break-word;
}

h3 {
  margin-top: 1.5em !important;
}

/* ------------------ */

.main-heading > .entry {
  text-indent: -4em;
  margin-left: 4em;
}

.subheading > .entry {
  text-indent: -2em;
  margin-left: 4em;
}

.main-heading {
  margin-bottom: 0.5em;
}

/* ------------------ */

.comment.negative {
  color: #e63946;
}

.comment.positive {
  color: #2a9d8f;
}